*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  text-align: center;

}

.inputStyle {
  background-color: white;
  border-color: white;
  outline: none;
  padding: .45rem .75rem .45rem 2rem;
  border-radius: .5rem;
  border: none;

}

.inputStyle:focus {
  outline: none;
}

.inputLabel {
  position: relative;
  display: flex;
  align-items: center;
}

.inputLabel svg {
  position: absolute;
  left: .25rem;
  fill: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}